body {
  margin: 0;
  padding: 0;
  background: #e4dce5;
}
h1 {
  text-align: center;
  color: #3a2c59;
  font-size: 3em;
}
#names{
	text-align: center;
	font-size: 2em;
	color: #3d2356;
}
#newNamMap{
	text-align: center;
	font-size: 2em;
	color: #3d2356;
    padding: 3em;
}
#newNames{
	text-align: center;
}
#popComment{
    display: block;
    text-align: center;
    font-size: 2em;
    color: #3d2356;
    padding: 3em;
    float: left;
}
#popculture{
	text-align: center;
}
#bib{
	text-align: center;
	font-size: 2em;
	color: #3d2356;
    padding: 3em;
}
#bibleNames{
	display: block;
	margin: auto;
}
#map0{
    text-align: left;
    display: block;
    float: left;
}
#map2{
    text-align: right;
    display: block;
    float: right;
}
#map1{
    text-align: left;
    display: block;
    float: left;
}
#map3{
    text-align: right;
    display: block;
    float: right;
}